* {
    margin: 0;
    padding:0 ;
}
body {
  font-family:cursive ;
}

  
 .main1 img{
    border-radius: 4px;
    background: #fff;
     box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform 
      cubic-bezier(.155,1.105,.295,1.12); 
   padding: 5px ;
  cursor: pointer;
  transition: .5s;
 
  
} 
.main1 img:hover{
     transform: scale(1.1);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); 
 transform:(.155,1.105,.295,1.9) ;
 border: 4px solid rgb(151, 43, 16);
}
.icon .fa-brands{
  font-size: 28px;
  padding: 0 4px;
}
.icon .fa-brands:hover{
  font-size: 28px;
  padding: 0 4px;
  color: red;
  transform: rotateY(180deg);
}

.logo{
  text-decoration: none;
  
  color: rgb(155, 30, 113);
  text-transform: uppercase;
  font-weight: bold;
  font-family: cursive;
  
}
.logo:hover{
  color: black;

}
nav ul li a{
  font-size: 18px;
  color: black;

}
nav ul li a:hover{
  color: rgb(165, 51, 51);
}
.main2 img{
  border-radius: 4px;
  background: #fff;
   box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform 
    cubic-bezier(.155,1.105,.295,1.12); 
 padding: 5px ;
cursor: pointer;
transition: all .5s ease;


} 
.main2 img:hover{
   transform: scale(1.1);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); 
transform:(.155,1.105,.295,1.9) ;
border: 4px solid rgb(151, 43, 16);
}
